<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>蜗牛旅行</title>
  <style media="screen">
    	.a{
			float: left;
			height: 650px;
			width: 17%;
      height: 100%;
			background-color: #207B94;
			position:fixed;
			left:10px;

		}
		.a a{
			text-decoration: none;
			display: block;
			color: white;
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			padding-left: 45px;
			border-bottom: 1px dashed ghostwhite;
			
		}
		.a a:hover { 
			color:orange; 
			text-decoration: underline;
			font-size: 20px;
			font-weight: bold;
		} 
		.snail{
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
		}
		.snail img{
			width: 50%;
		}
		.content-wrap{
			float: right;
			width: 82%;
			height: 650px;
		}
    a{
        text-decoration: none;
        
      }
      .article{
        overflow: hidden!important;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:3!important;
      }
      td{
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        height: 40px;
      }
      table{
        table-layout:fixed;
        text-align: center;
      }
    .del{
      background: #FAFAFF;  
      border: 1px solid grey; 
      color: grey; 
      border-radius: 4px;  
      border-spacing: 0;  
      box-shadow: 1px 1px 1px #eee;  
      padding: 1px 4px;  
      white-space: nowrap;  
      vertical-align: baseline;  
    }
    .title{
        border:0;
        background-color: #207B94;
        height: 50px;
      }
    </style>
</head>
<body  style="background-image: url(/upload/d1.png);">
  <div class="page">
    <div class="a">
			<div class="snail">
				<img src="/upload/snail.png"/>
			</div>
			<% include components/left-inc.ejs %>

		</div>
    <div class="content-wrap">
        	<% include components/admin.ejs %>
      <table border="1" width="100%" cellspacing="0" cellpadding="0" style="margin-top:-60px;">
        <thead>
          <tr  class="title">
            <th>ID          </th>
            <th>头像        </th>
            <th>用户名      </th>
            <th>密码        </th>
            <th>个性签名    </th>
            <th>操作        </th>
          </tr>
        </thead>

                                                                                                                                                                           
        <tbody>
        <% for(var i=0;i<evaluations.length;i++){ %>
          <tr>
            <td><%= evaluations[i].ID%>         </td>
            <td><img width="32"  height="32" src="/upload/<%= evaluations[i].src%>" /></td>
            <td><%= evaluations[i].username%>   </td>
            <td><%= evaluations[i].password%>   </td>
            <!-- <td><%= evaluations[i].signature%>  </td> -->
            <td>
              <textarea style="width:100%;background:transparent;text-align:center">
                  <%= evaluations[i].signature%>
              </textarea> 
            <td>
              <!--<a href="?act=mod&id=<%= evaluations[i].ID%>">修改</a>-->
              <a href="?act=del&id=<%= evaluations[i].ID%>" onclick="return confirm('你真的要删除这条数据吗?')" class="del">删除</a>
            </td>
          </tr>
        <% }%>
        </tbody>
                                                                                                                                      </table>
<!--
      <% if(typeof mod_data!='undefined'){ %>
      <div class="shadow"></div>
      <div class="mod_dialog">
                                                                                                                                      <form action="?" method="post" enctype="multipart/form-data">
                                                                                                                                        <input type="hidden" name="mod_id" value="<%= mod_data.ID%>"/>
          用户名：<input type="text"     name="username" value="<%= mod_data.username%>" /><br>
          密  码：  <input type="password" name="password" value="<%= mod_data.password%>" /><br>
          头  像：  <input type="file" name="f1" /><br>
          <input type="submit" value="修改" />
          <a href="/admin/text">取消修改</a>
        </form>
      </div>
      <% }%>
      -->

    </div>
   </div>
  
</body>
</html>
